/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Typography

p, h1, h2, h3, h4, h5, h6, em, div, span, strong {
  color: var(--global-text-color);
}


h4 {
  margin-top: 1rem;
}


a, table.table a{ // need to override the default link color of table.table
  color: var(--global-text-color);
  &:hover {
    color: var(--global-theme-color);
    // text-decoration: underline;
  }
  &:hover:after {
    width: 100%;
  }
}

table{
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

// table tr:nth-child(even){background-color: var(--global-text-color);}
table tr:hover {background-color: var(--global-code-bg-color);}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}


// Profile

.profile {
  height: auto;
  border-radius: 50% !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  max-width: 80%;
}

.page-header{
  text-align: left;
  margin-bottom: 2rem;
}

.page-title {
  margin-bottom: 0.2rem;
  // text-transform: uppercase !important;
  font-family: Helvetica;
  font-weight: bolder;
  a {
    color: inherit;
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

.page-description {
  margin-bottom: 2rem;
  font-family: Helvetica;
  font-size: 0.9rem;
  a {
    color: inherit;
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}


// Navbar customization

.navbar {
  box-shadow: 0px 0px 0px 0px var(--global-theme-color);
  border-bottom: 1px solid var(--global-border-color);
  background-color: var(--global-navbar-bg-color);
  opacity: 0.95;
  font-family: Helvetica;
  font-weight: bolder;
}
.navbar.navbar-light {
  a {
    &:hover {
      text-decoration: none;
    }
  } 
  .navbar-brand {
    color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
    }
    font-weight: bolder;
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
    }
  }
  .navbar-nav .nav-item.active>.nav-link {
      background-color: inherit;
      // font-weight: bolder;
      color: var(--global-theme-color);
      &:hover {
        color: var(--global-hover-color);
      }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-text-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

// News

.news *{
  color: var(--global-text-color);
}

// Publications

.publications *{
  color: var(--global-text-color);
}

.publi-title {
  font-weight: bolder;
}

.thumbnail {
  text-align: center;
  border-radius: 0.5em;
  margin-bottom: 1em;
  // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.video {
  width: 90%;
  aspect-ratio: 2/1;
}

// Social (bottom)

.social {
  .contact-icons {
    font-size: 2.0rem;
    a {
      i::before {
        color: var(--global-text-color);
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
  .contact-note {
    font-size: 0.8rem;
  }
}


// Footer
footer.fixed-bottom {
  text-align: center;
  background-color: var(--global-footer-bg-color);
  font-size: 0.7rem;
  .container {
    color: var(--global-footer-text-color);
    padding-top: 5px;
    padding-bottom: 7px;
  }
  a {
    color: var(--global-footer-link-color);
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  text-align: center;
  border-top: 1px solid var(--global-border-color);
  padding-top: 5px;
  padding-bottom: 7px;
  font-size: 0.7rem;
}

// Rouge Color Customization
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;
  pre, code {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

// hidden

.links {
  .btn {
    color: var(--global-text-color);
    border: 1px solid var(--global-text-color);
    box-shadow: none;
    margin-left: 0;
    border-radius: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    &:hover {
      color: var(--global-theme-color);
      border-color: var(--global-theme-color);
    }
  }
}
.hidden {
  font-size: 0.875rem;
  max-height: 0px;
  overflow: hidden;
  text-align: justify;
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: all 0.15s ease;

  p {
    line-height: 1.4em;
    margin: 10px;
  }
  pre {
    font-size: 1em;
    line-height: 1.4em;
    padding: 10px;
  }
}
.hidden.open {
  max-height: 100em;
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: all 0.15s ease;
}
div.abstract.hidden {
  border: dashed 1px var(--global-bg-color);
}
div.abstract.hidden.open {
  border-color: var(--global-text-color);
}



// Transitioning Themes
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
