/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-family: Helvetica;
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

h2 {
  border-bottom: 1px solid var(--global-border-color);
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.2em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.0em;
}