/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$bg-color-light};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$blue-color};
  --global-hover-color: #{$blue-color};
  --global-border-color: #{$grey-color-light};
  --global-navbar-bg-color: #{$bg-color-light};
  --global-footer-bg-color: #{$bg-color-light};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};

  .fa-adjust {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
    opacity: 0.8;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$bg-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color-light};
  --global-theme-color: #{$light-blue-color};
  --global-hover-color: #{$light-blue-color};
  --global-border-color: #{$grey-color-dark};
  // --global-navbar-bg-color: #{$bg-color-dark-lighter};
  --global-navbar-bg-color: #{$bg-color-dark};
  --global-footer-bg-color: #{$bg-color-dark};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};

  .fa-adjust {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
    opacity: 0.8;
  }
}
