---
layout: default
---

<div class="page">

  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
    <p class="page-description">{{ page.description }}</p>
  </header>

  <article>
      {% for author in page.authors %}
      {% if forloop.last %}
      <a href="{{ author.url }}" title="{{author.affiliations | join: ', '}}">{{ author.name}}. </a>
      {% else %}
      <a href="{{ author.url }}" title="{{author.affiliations | join: ', '}}">{{ author.name}}, </a>
      {% endif %}
      {% endfor %}
      <span style="font-style: italic;">{{page.title}}</span>.
      {{page.journal}}.
      {{page.date | date: "%b, %Y" }}.
    {{ content }}
  
  </article>


</div>
